<main>
  <section class="col col-1-5">
    <h1>Launching the New React/Redux Curriculum</h1>
    <h3>By APP ACADEMY INSTRUCTIONAL TEAM</h3>

    <p>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.z

    The whole state of your app is stored in an object tree inside a single store.
    The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</p>

    1738 Comments
  </section>

  <section class="col col-2-5 youtube-container">
    <iframe src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
  </section>

  <section class="col col-1-5">
  </section>

  <section class="col col-1-5">
  </section>
</main>
