/*


Add display: flex to the .main-nav and use justify-content for horizontal spacing.
Add padding to the .main-nav for vertical spacing.
Flex the unordered lists to keep their children horizontally aligned and use the align-items property to vertically align them.
Apply font-family, font-size, and text-transform properties to the list elements themselves.
Use the $lightest-gray hover for the list elements without buttons.
Style the necessary margin spacing between the texts and the icons.
Use font-size to make the gear icon bigger.

*/

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom: 2px solid $light-gray;
  padding-bottom: 20px;
  position: relative;
}

.gear-dropdown-section {
  float: right;
  margin-left: 2px;
}
